.body__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 25px 65px;
  background-color: #F2F2F2;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-list li {
  font-family: "Roboto";
  font-weight: medium;
  font-size: 18px;
  line-height: 165%;
  padding: 0 65px 0 0;
}

.arrows {
  margin: 18px 60px 18px 0;
}
.arrows img {
  padding-left: 39px;
}

.pictures {
  background: url("../img/background/1.png") -24% 0% no-repeat, url("../img/background/2.png") -24% 50% no-repeat, url("../img/background/3.png") -24% 100% no-repeat, url("../img/background/4.png") 5.7% 0% no-repeat, url("../img/background/5.png") 5.7% 50% no-repeat, url("../img/background/6.png") 5.7% 100% no-repeat, url("../img/background/7.png") 35.4% 0% no-repeat, url("../img/background/8.png") 35.4% 50% no-repeat, url("../img/background/8.png") 35.4% 100% no-repeat, url("../img/background/9.png") 65.1% 0% no-repeat, url("../img/background/10.png") 94.8% 0% no-repeat, url("../img/background/11.png") 65.1% 50% no-repeat, url("../img/background/12.png") 65.1% 100% no-repeat, url("../img/background/13.png") 94.8% 50% no-repeat, url("../img/background/14.png") 94.8% 100% no-repeat, url("../img/background/15.png") 124.6% 100% no-repeat, url("../img/background/16.png") 124.3% 50% no-repeat, url("../img/background/18.png") 124.3% 0% no-repeat;
  overflow: hidden;
  width: 1920px;
  height: 738px;
}

@media (max-width: 1280px) {
  .body__menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 15px 0 20px 35px;
  }
  .menu-list li {
    font-size: 18px;
    line-height: 142.7777777778%;
    padding: 0 45px 0 0;
  }
  .arrows {
    margin: 18px 60px 18px 0;
  }
  .arrows img {
    padding-left: 29px;
  }
}
@media (max-width: 1024px) {
  .menu-list li {
    line-height: 160.625%;
    padding: 0 25px 0 0;
  }
}
.why {
  padding: 0 0 166px 0;
}

.why-title {
  margin: 100px 0 40px 0px;
}

.why-tems {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 49%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 46px 40px 0px;
}
.why-tems p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 132.1428571429%;
  padding: 0 0 0 25px;
}
@media (max-width: 1600px) {
  .why {
    padding: 0 10px 76px 10px;
  }
  .why-title {
    margin: 50px 0 25px 0px;
  }
  .why-tems {
    padding: 30px 26px 40px 0px;
  }
  .why-tems p {
    font-size: 24px;
    padding: 0 0 0 20px;
  }
}
@media (max-width: 1024px) {
  .why {
    padding: 0 10px 30px 10px;
  }
  .why-title {
    margin: 20px 0 0px 0px;
  }
  .why-tems {
    padding: 30px 26px 40px 0px;
  }
  .why-tems p {
    font-size: 20px;
    padding: 0 0 0 20px;
  }
}
.want {
  width: 100%;
}

.want-title {
  width: 980px;
  padding-bottom: 63px;
  line-height: 60px;
}

.want__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.want__form [type=text]:focus,
.want__form [type=email]:focus,
.want__form [type=text]:focus,
.want__form [type=textarea]:focus {
  background-color: #faecec;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  scale: 102%;
  cursor: auto;
  -webkit-box-shadow: 1px 1px 3px rgb(93, 86, 86);
          box-shadow: 1px 1px 3px rgb(93, 86, 86);
}
.want__form [type=text]:hover,
.want__form [type=email]:hover,
.want__form [type=textarea]:hover,
.want__form [type=checkbox]:hover,
.want__form [type=file]:hover {
  cursor: pointer;
}
.want__form [type=file] {
  background-color: green;
  opacity: 0%;
  z-index: 1;
  position: relative;
}
.want__form [type=checkbox] {
  position: relative;
  width: 10%;
  height: 24px;
  margin: 0px 14px 0 0;
  padding: left 0;
}
.want__form .checkbox {
  position: relative;
  top: -27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 21px 0 0 0;
}
.want__form span {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Roboto";
  font-style: Regular;
  font-size: 17px;
  padding: auto auto;
  color: rgb(117, 117, 117);
}
.want__form [type=textarea] {
  width: 100%;
  height: 160px;
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
  text-align: center;
}
.want__form [type=submit] {
  background-color: rgb(86, 86, 85);
  color: #CCCCCC;
  font-weight: semi-bold;
  Font-size: 26px;
  line-height: 100%;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}
.want__form [type=submit]:hover {
  cursor: pointer;
  position: relative;
  top: 1px;
  -webkit-box-shadow: 1px 1px 1px rgb(58, 58, 58);
          box-shadow: 1px 1px 1px rgb(58, 58, 58);
  background-color: rgb(57, 57, 57);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.want__form-copy {
  position: relative;
  z-index: 0;
  top: -29%;
  height: 66px;
  width: 100%;
  margin: 0 0px 28px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 0.3px #CCCCCC;
  -webkit-box-shadow: 1px 1px 2px rgb(144, 144, 144);
          box-shadow: 1px 1px 2px rgb(144, 144, 144);
}

.column {
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 49px 0 0;
}

.want__form-item {
  height: 66px;
  width: 100%;
  margin: 0 0px 28px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 0.3px #CCCCCC;
  -webkit-box-shadow: 1px 1px 2px rgb(144, 144, 144);
          box-shadow: 1px 1px 2px rgb(144, 144, 144);
}

.want__form-item-button {
  height: 66px;
  width: 100%;
  margin: 0 0px 28px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 0.3px #CCCCCC;
  -webkit-box-shadow: 1px 1px 2px rgb(144, 144, 144);
          box-shadow: 1px 1px 2px rgb(144, 144, 144);
}

@media (max-width: 1280px) {
  .want {
    width: 100%;
    padding: 0 0 0 10px;
  }
}
@media (max-width: 1024px) {
  .want-title {
    padding-bottom: 33px;
  }
}
.shooting {
  padding: 0 10px 0 10px;
  width: 100%;
}
.shooting__title {
  padding: 100px 0 25px 0;
}
.shooting_section-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50%;
  height: 53.2894736842%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.shooting_section-img img {
  max-width: 100%;
}
.shooting_section-img img:first-child {
  padding-bottom: 40px;
}
.shooting_section-img img:last-child {
  padding-bottom: 40px;
}
.shooting__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.shooting__section-text {
  font-size: "Roboto";
  font-size: Regular;
  font-size: 23px;
  line-height: 160%;
  color: #2C2C2B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.shooting .shooting__section-h3title {
  margin: 0 0 27px 0;
  line-height: 139.6774193548%;
}
.shooting__section-text-ver2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 40px;
}

.shooting__section-text-ver3 {
  padding: 0 40px 0 0;
}

.shooting__section-text.shooting__section-text-ver4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 0 100px 0;
}

.shooting_section-img-background {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shooting_section-img-background img {
  min-width: 100%;
}

.shooting__container {
  width: 75.6081525312%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0 0 0;
  height: 100%;
  margin: 0 10px;
}

.shooting__section-text-ver4-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  padding: 54px 0 40px 0;
}
.shooting__section-text-ver4-table-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 33.3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.shooting__section-text-ver4-table-column p {
  width: 100%;
  min-height: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 37px 49px;
  border: solid 1px #DEDEDF;
  font-family: Uni Sans-Trial;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #565655;
}

@media (max-width: 1280px) {
  .shooting__title {
    padding: 40px 0 25px 0;
    line-height: 60px;
  }
  .shooting_section-img {
    min-width: 40%;
  }
  .shooting__section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shooting__section-text {
    min-width: 60%;
  }
  .shooting__section-text-ver2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 0 40px;
  }
  .shooting__section-text.shooting__section-text-ver4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0 0 50px 0;
  }
  .shooting__container {
    width: 75.6081525312%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0 0 0;
    height: 100%;
    margin: 0 10px;
  }
}
@media (max-width: 1024px) {
  .shooting__title {
    padding: 0px 0 25px 0;
    line-height: normal;
  }
}
.container__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2F2F2;
}

.clients {
  width: 100%;
  padding: 0 10px;
  background-color: #F2F2F2;
}
.clients__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 113px 0 95px 0;
}
.clients__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 83px 0;
  margin: 0 0 60px 0;
}
.clients__logos-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 170px;
  width: 31.5%;
  background-color: white;
  margin: 0 39px 39px 0;
}
.clients__logos-item:nth-child(3n) {
  margin: 0 0px 39px 0;
}

@media (max-width: 1600px) {
  .clients__logos-item {
    margin: 0 30px 30px 0;
  }
  .clients__logos-item img {
    max-width: 100%;
  }
}
@media (max-width: 1280px) {
  .clients__title {
    padding: 25px 0 25px 0;
  }
  .clients__logos {
    padding: 0 0 25px 0;
    margin: 0 0 0px 0;
  }
  .clients__logos-item {
    margin: 0 20px 20px 0;
  }
  .clients__logos-item img {
    max-width: 100%;
  }
}
.nav-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 273px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.nav-items a {
  padding: 0 10px;
  text-align: center;
  color: #ffffff;
  font-family: "UniSans-Trial";
  font-size: 26px;
  font-weight: 400;
}

.nav-items:nth-child(1) {
  background: url(..//img/background/11.png) 0 0/cover no-repeat;
}

.nav-items:nth-child(2) {
  background: url(..//img/background/1.png) 0 0/cover no-repeat;
}

.nav-items:nth-child(3) {
  background: url(..//img/background/5.png) 0 0/cover no-repeat;
}

.nav-items:nth-child(4) {
  background: url(..//img/background/7.png) 0 0/cover no-repeat;
}

.nav-items:nth-child(5) {
  background: url(..//img/background/4.png) 0 0/cover no-repeat;
}

@media (max-width: 1280px) {
  .nav-items a {
    padding: 0 10px;
    font-size: 24px;
    font-weight: 300;
  }
}
.error .want__form-item {
  border-color: red;
}