h1 {
    background-color: green;
}

tr, td {
    padding: 5px 5px;
    border: 1px solid black;
    width: 25px;
    height: 25px;
}
tr:first-child:hover {
    cursor: pointer;
}
    



.maincolumn {
    color: yellowgreen;
}